body{
    margin: 0;
    background-color: beige;
    /* font-family: 'Playfair Display', serif; */
}
.header {
    text-align: center;
    font-family: 'Aboreto', cursive;
}

 /*---------------Navigation Bar---------------------*/
.nav-flex-container {
    background-color: black;
    box-shadow:0px 0px 10px var(--clr-gray200);
    margin: 0px;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    flex-wrap: row nowrap;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 1rem;
}
li {
    list-style: none
}
.flex-item {
    list-style:none;
    margin-right: 2rem;
    padding: 16px 15px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    border: 1px solid snow;
}
.flex-item a{
    text-decoration: none;
    color: antiquewhite;
}

.flex-item:first-child{
    border: none;
    margin-right: auto;
    margin-left: 2rem;
    color: antiquewhite;
}
.flex-item:hover {
    border: 0 ;
    box-shadow: 0 0 3px #ffffff, 0 0 7px #ffffff, 0 0 20px #ececec;
}
.flex-item-2{
    border: none;
    color: gold;
}
.flex-item-3{
    border: none;
}
.flex-item-4{
    border: none;
}
.flex-item-5{
    border: none;
}
.flex-item-6{
    border: none;
    color: gold;
}
.flex-item-7 {
    color: antiquewhite;
    border: none;
}
a {
    text-decoration: none;
    list-style-type: none;
}
 /*---------------Home Page---------------------*/
.main-product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    height: auto;
    border-radius: 8px;
}
.main-container {
    display: grid;
    height: 50vh;
    grid-template-columns:1fr 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content1{
    text-align: center;
}

.content2{
    text-align: center;
}

.content3{
    text-align: center;
}
 /*---------------Signature Page---------------------*/
.shop-section {
    text-align: center;

}
.shop-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-template-rows: 100px ;
    grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
    align-items: start;
}
.shop-item1 {
    background-color: rgb(0, 0, 0);
    grid-area: a;
    text-align: center;
}
.shop-item2 {
    background-color: rgb(228, 228, 204);
    grid-area: b;
    text-align: center;
}
.shop-item3 {
    background-color: rgb(228, 228, 204);
    grid-area: c;
    text-align: center;
}
.shop-item4 {
    background-color: rgb(228, 228, 204);
    grid-area: d;
    text-align: center;
}
.shop-item-image {
    max-width:50%;
    height: auto;
}
.shop-item-details {
    text-align: center;
}

.sales-shirts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-rows: repeat(2, 1fr) ;
    grid-template-areas:
    "a a b b"
    "c c d d";
    align-items: start;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.sale-shirt-1 {
    grid-area: a;   
}
.sale-shirt-2 {
    grid-area: b;
}
.sale-shirt-3 {
    grid-area: c;
}
.sale-shirt-4 {
    grid-area: d;
}

.sales-pants {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-rows: repeat(2, 1fr) ;
    grid-template-areas:
    "e e f f "
    "g g h h";
    align-items: start;
    background-color: rgb(228, 228, 204);
    text-align: center;
}
.sale-pant-1 {
    grid-area: e;
}
.sale-pant-2 {
    grid-area: f;
}
.sale-pant-3 {
    grid-area: g;
}
.sale-pant-4 {
    grid-area:h ;
}

.sale-image {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;

}
.btn {
    background-color: rgb(70, 70, 70);
    border: none;
    color: rgb(255, 254, 254);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

 /*---------------Carts Page---------------------*/
.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;   
}

.products-container ion-icon {
    font-size: 25px;
    color:blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title{
    width: 45%;
}

.price {
    width: 15%;
    /* border-bottom: 4px solid lightgray; */
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    /* border-bottom: 4px solid lightgray; */
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    /* border-bottom: 4px solid lightgray; */
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    /* border-bottom: 4px solid lightgray; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.product ion-icon {
    cursor: pointer;
}

.products{
    width:100;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}
 /*---------------Footer---------------------*/
.footer-container {
    background-color: black;
    box-shadow:0px 0px 10px var(--clr-gray200);
    margin: 0px;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    flex-wrap: row nowrap;
    justify-content:center;
    align-items: center;
    margin-top: 1rem;
}
.footer-item {
    margin-right: 1rem;
    font-size: 16px;
}
.footer-item a {
    color: antiquewhite;
}